body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #f39c12;
    color: #ffffff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #f39c12;
    color: #ffffff;
    text-align: center;
    padding: 0.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    background-color: #f39c12;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    bottom: 0;
    width: 100%;   
}   
#grid-container {
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "div1 div2 div3"
    ;
}

.grid-item {
    flex: 0 0 calc(33.3333% - 20px);
    margin-bottom: 20px;
    box-sizing: border-box;
}

#div1{
    grid-area: div1;
    margin: 20px;
    height: 50px;
    text-align: center;
}

#div2{
    grid-area: div2; 
    margin: 20px;
    height: 50px;
    text-align: center;
}
#div3{
    grid-area: div3; 
    margin: 20px;
    height: 50px;
    text-align: center;
}

#rubrik_kurser{
    text-align: center;
}

a:hover{
    color: grey;
}

#mittentextengrid{
    display: grid;
    height: 700px;
    grid-template-columns: 1.3fr 1.5fr 0.3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "img div "
    "txt div"
    ;
}

#mittentext{
    grid-area: div;
    display: flex;
    justify-content: center;
    text-align: center;
}

#mittentextimg{
    grid-area: img;
}

#photoshop{
    width: 400px;
    margin-top: 40px;
    margin-left: 20px;
}


#text{
    grid-area: txt;
    display: flex;
    justify-content: center;
    text-align: center;
}

#txt {
    width: 400px;
    margin-right: 80px;
}

#img_title{
    display: flex;
    justify-content: center;
    margin-right: 90px;
    font-size:2rem;
}